<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="form" (submit) = 'onSubmit()'>
      <nb-card>
        <nb-card-header>Create Notification</nb-card-header>
        <nb-card-body>
          <input formControlName="title" type="text" nbInput fullWidth placeholder="Notification Name">
          <textarea formControlName="description" rows="5" nbInput fullWidth shape="round"  placeholder="Description"></textarea>
          <div class="full-name-inputs">
            <nb-select formControlName="audience" selected="Type" placeholder="Audience">
              <nb-option  value="admin">Admin</nb-option>
              <nb-option value="public">Public</nb-option>
            </nb-select>
            <nb-select formControlName="type" selected="Type" placeholder="Notification Type">
              <nb-option value="eventChange">Event Change</nb-option>
              <nb-option value="announcement">Announcement</nb-option>
              <nb-option value="ruleBookUpdate">Rule Book Update</nb-option>
              <nb-option value="reminders">Reminders</nb-option>
            </nb-select>
          </div>

          <hr>
          <div style="text-align: center">
            <button type="submit" nbButton status="success">submit
            </button>
          </div>



        </nb-card-body>
      </nb-card>
    </form>
  </div>
</div>
